// Заголовки, общие БЄМ блоки и проче...

// crumb ====================================================================================================//
.crumb{
	display: none;
}

@media (min-width: 767px) {
	.crumb {
		display: block;
		position: fixed;
		top: 80px;
		left: 0;
		z-index: 5;
		width: 100%;
		padding-top: 16px;
		transition: all 0.3s ease 0s;
		&__container {
		}
		&__body {
			display: flex;
			//gap: 32px;
			font-size: 14px;
			font-weight: 500;
			line-height: 170%;
			a{
				color: #605f5f;
				position: relative;
				padding-right: 16px;
				margin-right: 16px;
				transition: all 0.3s ease 0s;
				&:hover{
					color: #38CB89;
					&::after, &::before{
						background-color: #38CB89;
						right: -3px;
					}
				}
				&::after{
					content: '';
					position: absolute;
					top: 9px;
					right: 0;
					width: 7px;
					height: 1px;
					background-color: #605f5f;
					transform: rotate(45deg);
					transition: all 0.3s ease 0s;
				}
				&::before{
					content: '';
					position: absolute;
					top: 14px;
					right: 0;
					width: 7px;
					height: 1px;
					background-color: #605f5f;
					transform: rotate(-45deg);
					transition: all 0.3s ease 0s;
				}
			}
			p{
				color: #121212;
				
			}
		}
	}
	.crumb._crumb-scroll{
		opacity: 0;
		visibility: hidden;
	}
}

//* title ====================================================================================================//

.title {
	font-family: $pop;
	@include adaptiveValue("font-size", 40, 32);
	font-weight: 500;
	line-height: 110%;
}

//* button ====================================================================================================//

.button {
	background-color: #1d2223;
	color: #fff;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	font-size: 18px;
	font-weight: 500;
	line-height: 177%;
	&:hover{
		background-color: #000;
	}
}

//* link-arrow ====================================================================================================//

.link-arrow{
	display: inline-flex;
	gap: 4px;
	cursor: pointer;
	svg{
		transition: all 0.3s ease 0.2s;
	}
	p{
		position: relative;
		&::after{
			position: absolute;
			content: '';
			bottom: -2px;
			left: 0;
			height: 1px;
			width: 0;
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
	}
	&:hover{
		p:after{
			width: 100%;
		}
		svg{
			transform: translateX(10px);
		}
	}
}

//* Slider ====================================================================================================//
.main-screen{

	///* Ограничивающая оболочка */
	.slick-list {
		overflow: hidden;	//!!! Скрыть лишние слайды
	}
	///* Лента слайдов */
	.slick-track{
		display: flex;	//!!! Выстроить в ряд
	}
	
	.main-screen__container{
		position: relative;
	}
	
	/* Стрелки*/
	.slick-arrow{
		position: absolute;
		top: 50%;
		z-index: 10;
		font-size: 0;
		height: 55px;
		width: 55px;
		opacity: 0;
		transition: all 0.5s ease 0s;
		transform: translateY(-50%);
		&:hover{
			opacity: 1;
		}
		@media (max-width: 767px) {
			width: 0;
			height: 0;
		}
	}
	/* Стрелка влево */
	.slick-arrow.slick-prev{
		@media (min-width: 767px) {
			left: 50px;
			background: url('@img/main-screen/icons/arrow-left.svg') -16px -7px no-repeat;
		}
	}
	/* Стрелка вправо */
	.slick-arrow.slick-next{
		@media (min-width: 767px) {
			right: 50px;
			background: url('@img/main-screen/icons/arrow-right.svg') -16px -7px no-repeat;
		}
	}
	/*точки */
		.slick-dots{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
		}
		.slick-dots li{
			margin: 0px 10px;
			list-style: none;
		}
		.slick-dots li button{
			font-size: 0;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: #fff;
			border: 1px solid #fff;
			transition: all 0.3s ease 0s;
		}
		/* Активная точка */
		.slick-dots li.slick-active button{
			width: 30px;
			border-radius: 5px;
		}
		.main-screen__body:hover .slick-arrow{
			opacity: 0.7;
		}
}
	
	// slider-goods ====================================================================================================//

	.goods-descript{

		///* Ограничивающая оболочка */
		.slick-list {
			overflow: hidden;	//!!! Скрыть лишние слайды
		}
		///* Лента слайдов */
		.slick-track{
			display: flex;	//!!! Выстроить в ряд
		}
		

		/* Стрелки*/
		.slick-arrow{
			position: absolute;
			top: 50%;
			z-index: 10;
			font-size: 0;
			height: 55px;
			width: 55px;
			transition: all 0.5s ease 0s;
			transform: translateY(-50%);
			opacity: 1;
			@media (max-width: 767px) {
				width: 0;
				height: 0;
			}
		}
		/* Стрелка влево */
		.slick-arrow.slick-prev{
			@media (min-width: 767px) {
				left: 15px;
				background: url('@img/main-screen/icons/arrow-left.svg') -16px -7px no-repeat;
			}
		}
		/* Стрелка вправо */
		.slick-arrow.slick-next{
			@media (min-width: 767px) {
				right: 15px;
				background: url('@img/main-screen/icons/arrow-right.svg') -16px -7px no-repeat;
			}
		}
	}
		