
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(25);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #E8ECEF;
		padding: 80px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 50px; // Высота шапки
			//background-color: #fff;
			backdrop-filter: blur(5px);
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: -30px;
	}
}

//* header ====================================================================================================//

.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 50;
	&__container {
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		//background-color: #b6b6b6;
		min-height: 80px;
		transition: all 0.3s ease 0s;
		@media (max-width: 767px) {
			min-height: 50px;
		}
	}
}
.header._header-scroll .header__menu{
	min-height: 50px;
}

.header._active .menu__manage{
	opacity: 0;
	visibility: hidden;
}

.menu {
	&__icon {
	}
	&__logo {
		color: #000;
		font-family: $pop;
		font-size: 24px;
		font-weight: 500;
		margin-right: 30px;
		position: relative;
		z-index: 3;
	}
	&__body {
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			//height: calc(100vh - 50px);
			height: 100dvh;
		}
	}
	&__list {
		display: flex;
		@media (min-width: 767px) {
			li:not(:last-child){
				@include adaptiveValue("margin-right", 30, 25, 1120, 800, 1);
			}
		}
		li svg{
			display: none;
		}
		@media (max-width: 767px) {
			flex: 1 1 auto;
			display: block;
			padding-left: 30px;
			li{
				svg{
					display: block;
					transition: all 0.3s ease 0s;
				}
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					//background-color: #E8ECEF;
					background-color: #6C7275;
				}
			}
		}
	}
	&__manage {
		transition: all 0.2s ease 0s;
	}
	&__box{
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
.menu__item{
	cursor: pointer;
	svg path{
		transition: all 0.3s ease 0s;
	}
	&:hover{
		.menu-link{
			color: #38CB89;
		}
		svg path{
			stroke: #38CB89;
		}
	}
}
.menu__item._active{
	@media (max-width: 767px) {
		svg{
			transform: rotate(-180deg);
		}
		svg path{
			stroke: #38CB89;
		}
		.menu-link{
			color: #38CB89;
		}
	}
	}
.menu-link {
	font-family: $grot;
	color: #6C7275;
	font-size: 16px;
	font-weight: 500;
	line-height: 170%;
	transition: all 0.3s ease 0s;
	&._active{
		//color: #000;
	}
	&:hover{
		color: #38CB89;
	}
	@media (max-width: 767px) {
		color: #000;
		font-size: 24px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.manage-menu {
	position: relative;
	z-index: 2;
	display: flex;
	gap: 16px;
	align-items: center;
	&__search {
		height: 30px;
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__profile {
		svg path{
			transition: all 0.3s ease 0s;
			stroke: #000;
		}
		&:hover{
			svg path{
				stroke: #269563;
			}
		}
	}
	&__cart {
		position: relative;
		margin-right: 25px;
		&::before{
			content: '3';
			font-size: 11px;
			font-family: inter;
			padding-top: 3px;
			padding-right: 1px;
			position: absolute;
			top: 1px;
			right: -22px;
			height: 20px;
			width: 20px;
			background-color: #000;
			color: #fff;
			border-radius: 50%;
		}
		svg path{
			transition: all 0.3s ease 0s;
			stroke: #000;
		}
		&:hover{
			svg path{
				stroke: #269563;
			}
		}
	}
}

// options-menu ====================================================================================================//

.menu {
	&__options {
		display: none;
		@media (max-width: 767px) {
			display: block;
			padding-left: 30px;
			margin-top: 40px;
		}
	}
}
.options-menu {
	&__item {
		display: flex;
		justify-content: space-between;
		font-family: Inter;
		font-size: 22px;
		cursor: pointer;
		padding-top: 12px;
		padding-bottom: 7px;
		position: relative;
		color: #6C7275;
		font-weight: 500;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #6C7275;
		}
		p:nth-child(2) {
			position: relative;
			margin-right: 25px;
			//padding-right: 10px;
			&::after{
				content: "2";
				text-align: center;
				font-size: 11px;
				font-family: inter;
				padding-top: 4px;
				padding-right: 1px;
				position: absolute;
				top: 2px;
				right: -22px;
				height: 20px;
				width: 20px;
				background-color: #000;
				color: #fff;
				border-radius: 50%;
			}
		}
	}
	&__button {
		margin-top: 27px;
		margin-bottom: 20px;
		padding: 10px 25px;
		width: 100%;
	}
	&__social {
		display: flex;
		gap: 24px;
	}
}


// menu__form ====================================================================================================//

.menu__form{
	display: none;
	@media (max-width: 767px) {
		display: flex;
		gap: 10px;
		align-items: center;
		background-color: #fff;
		border-radius: 6px;
		height: 46px;
		margin-bottom: 20px;
		&._form-focus{
		outline: 1px solid #000;
			.menu__search{
				outline: none;
			}
		}
	}
	.form__button_s{
		padding-left: 15px;
	}
	.menu__search{
		height: 100%;
		width: 100%;
		margin: 0 10px;
		font-size: 16px;
		font-family: inter;
	}
}

// menu__search ====================================================================================================//

@media (min-width: 767px) {

	.manage-menu{

		form{
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			transition: width 0.4s;
			width: 40px;
			height: 50px;
			background: white;
			box-sizing: border-box;
			border-radius: 25px;
			border: 4px solid white;
			padding: 5px;
			svg{
				margin-top: 2px;
			}
		}
		
		input{
			position: absolute;
			top: 5px;
			left: 0;
			width: 100%;;
			height: 30px;
			line-height: 30px;
			outline: 0;
			font-family: Inter;
			display: none;
			font-size: 1em;
			border-radius: 20px;
			padding: 0 15px;
			border: 1px solid #000;
		}
		
		form:hover{
			width: 150px;
			cursor: pointer;
			svg{
				display: none;
			}
		}
		
		form:hover input{
			display: block;
		}
	}
}

//  =================//

.menu__list{
	li._active a{
		color: #000;
		&:hover{
			color: #000;
		}
	}
}

//! flyout ====================================================================================================//

.wrapper._active{
	position: relative;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .7);
		z-index: 10;
	}
}

.flyout {
	position: absolute;
	top: 0;
	right: -150%;
	background-color: #fff;
	height: 100vh;
	transition: all 0.3s ease 0s;
	max-width: 520px;
	z-index: 6;
	overflow: auto;
	min-width: 300px;
	&__body {
		padding: 40px 24px;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		@media (max-width: 500px) {
			padding: 30px 15px;
		}
	}
	&__head {
		user-select: none;
		font-family: $pop;
		font-size: 28px;
		font-weight: 500;
		position: sticky;
		top: 0;
		width: 100%;
		height: 50px;
		//z-index: 80;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
	}
	&__cart {
		flex: 1 1 auto;
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	&__item {
		display: flex;
		padding: 24px 0px;
		border-bottom: 1px solid #E8ECEF;
		margin: 0px -15px;
		align-items: center;
		margin-bottom: 24px;
		@media (max-width: 500px) {
			margin: 0px -10px;
		}
	}
}

.flyout._active{
	right: 0;
}

.item-flyout {
	&__image {
		padding: 0px 15px;
		@media (max-width: 500px) {
			padding: 0px 10px;
		}
	}
	&__content {
		padding: 0px 15px;
		flex: 1 1 auto;
		@media (max-width: 500px) {
			padding: 0px 10px;
		}
	}
	&__name {
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 600;
		line-height: 157%;
		@include adaptiveValue("padding-bottom", 10, 8);
	}
	&__color {
		@include adaptiveValue("font-size", 16, 14);
		line-height: 166%;
		@include adaptiveValue("padding-bottom", 10, 8);
	}
	&__counter {
	}
	&__price {
		display: flex;
		flex-direction: column;
		padding: 0px 15px;
		align-self: start;
		padding-top: 5px;
		color: #000;
		@include adaptiveValue("font-size", 18, 16);
		@media (max-width: 500px) {
			padding: 0px 10px;
		}
	}
}
.counter {
	user-select: none;
	width: 80px; 
	height: 32px;
	border-radius: 4px;
	outline: 1px solid #6C7275;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__minus {
		cursor: pointer;
		flex: 0 1 30px;
		text-align: center;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #f4f4f4;
		}
		&:active{
			background-color: #dddddd;
		}
	}
	&__figure {
	}
	&__plus {
		cursor: pointer;
		flex: 0 1 30px;
		text-align: center;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #f4f4f4;
		}
		&:active{
			background-color: #dddddd;
		}
	}
}
.delete-item {
	width: 24px;
	height: 24px;
	@include adaptiveValue("margin-top", 17, 12);
	margin-left: auto;
	svg path{
		transition: all 0.3s ease 0s;
	}
	&:hover{
		svg path{
			fill: #000;
		}
	}
}
.close-flyout{
	cursor: pointer;
	 path{
		transition: all 0.3s ease 0s;
	}
	&:hover{
		 path{
			fill: #000;
		}
	}
}

//? sum ====================================================================================================//

.sum {
	&__subtotal {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("font-size", 18, 16);
		padding: 13px 0px;
		border-bottom: 1px solid #E8ECEF;
		p:last-child{
			font-weight: 600;
		}
	}
	&__total {
		display: flex;
		justify-content: space-between;
		padding: 13px 0px;
		border-bottom: 1px solid #E8ECEF;
		@include adaptiveValue("font-size", 24, 22);
		font-family: $pop;
		font-weight: 500;
		p:last-child{
			font-weight: 600;
		}
		@include adaptiveValue("margin-bottom", 20, 16);
	}
	&__button {
		width: 100%;
		padding: 10px 26px;
		@include adaptiveValue("margin-bottom", 20, 15);
	}
	&__link {
		text-align: center;
		a{
			font-size: 14px;
			font-weight: 600;
			transition: all 0.3s ease 0s;
			&:hover{
				color: #38CB89;
			}
		}
	}
}

// to-top ====================================================================================================//
.header__container{
	position: relative;
}

.to-top{
	opacity: 0;
	visibility: visible;
	position: relative;
	position: fixed;
}

.header._header-scroll .to-top{
	svg{
		position: absolute;
		top: 30px;
		left: 8px;
		transition: all 0.3s ease 0.2s;
	}
	@media (min-width: 992px) {
		display: block;
		z-index: 9999;
		width: 35px;
		height: 60px;
		bottom: 70px;
		right: 50px;
		margin-left: 15px;
		background-color: #cfcfcf;
		opacity: 0.4;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&:hover{
			opacity: 1;
			svg{
				top: 10px;
			}
		}
	}
}