.page{
	margin-top: 80px;
	@media (max-width: 767px) {
		margin-top: 50px;
	}
}
.header._header-scroll .page{
	//margin-top: 50px;
}

//* main-screen ====================================================================================================//

.main-screen {
		&__container {
		}
		&__body {
			@media (max-width: 767px) {
				margin: 0 -15px;
			}
		}
		&__item-ibg {
			display: block;
			padding-bottom: 46%;
			@media (max-width: 767px) {
				padding-bottom: 102%;
			}
		}
}

//* slogan ====================================================================================================//

.slogan {
	&__container {
	}
	&__body {
		display: flex;
		align-items: center;
		margin: 0px -15px;
		padding: 35px 0px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__title {
		flex: 0 1 55%;
		padding: 0 15px;
		font-family: $pop;
		@include adaptiveValue("font-size", 72, 32);
		font-weight: 500;
		line-height: 120%;
		color: #141718;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			padding-bottom: 16px;
			text-align: center;
		}
	}
	&__text {
		flex: 0 1 45%;
		padding: 0 15px;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 162.5%; /* 26px/16 */
		color: #6c7275;
		span{
			color: #343839;
			font-weight: 600;
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
}

//* template ====================================================================================================//

.template {
	&__container {
	}
	&__body {
		display: flex;
		margin: 0px -10px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			margin: 0;
		}
	}
	&__left-ibg {
		flex: 0 1 50%;
		padding: 0px 10px;
		margin: 0px 10px;
		padding-bottom: 45%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			padding-right: 0;
			padding-left: 0;
			margin: 0;
			padding-bottom: 86%;
		}
	}
	&__descr {
		position: relative;
		z-index: 1;
		padding: 45px;
		@media (max-width: 1150px) {
			padding: 25px;
		}
	}
	&__title {
		@include adaptiveValue("font-size", 34, 28);
		font-weight: 500;
		font-family: $pop;
		line-height: 110%;
		@include adaptiveValue("padding-bottom", 15, 8);
	}
	&__link {
	}
	&__right {
		flex: 0 1 50%;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			margin-top: 16px;
			padding: 0;
			gap: 16px;
		}
	}
	&__top-ibg {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column-reverse;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			padding-bottom: 23%;
		}
	}
	&__bottom-ibg {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column-reverse;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			padding-bottom: 23%;
		}
	}
}

//* arrivals ====================================================================================================//

.arrivals {
	@include adaptiveValue("padding-top", 50, 35);
	&__container {
	}
	&__title {
	}
	&__link {
		display: flex;
		justify-content: flex-end;
		//@include adaptiveValue("margin-bottom", 50, 35);
		margin-bottom: 50px;
		margin-top: -25px;
		@media (max-width: 767px) {
			margin-bottom: 35px;
		}
	}
	&__body {
		display: flex;
		@include adaptiveValue("gap", 24, 10);
		overflow: auto;
		@include adaptiveValue("padding-bottom", 40, 30);
		@include adaptiveValue("margin-bottom", 60, 40);
		&::-webkit-scrollbar{
			background-color: #E8ECEF;
			height: 8px;
		}
		&::-webkit-scrollbar-thumb{
			background-color: #343839;
			border-radius: 80px;
		}
	}
	&__item {
		//flex: 0 1 25%;
		flex: 0 0 262px;
		@media (max-width: 767px) {
			flex: 0 0 231px;
		}
	}
}

//? item-arrivals =================//

.item-arrivals {
	&__card {
	}
	&__description {
	}
}

//? card-arrivals =================//

.card-arrivals-ibg {
	display: flex;
	flex-direction: column;
	@media (min-width: 767px) {
		&:hover{
			.card-arrivals__button, .card-arrivals__like{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.card-arrivals {
	&__box {
		padding-bottom: 80%;
		position: relative;
		z-index: 1;
		display: flex;
		align-items:flex-start;
		justify-content: space-between;
		flex: 1 1 auto;
	}
	&__offer {
		p:nth-child(1){
			font-weight: 700;
			text-transform: uppercase;
			padding: 4px 14px;
			background-color: #fff;
			border-radius: 4px;
			margin: 16px;
			margin-bottom: 0;
		}
		p:nth-child(2){
			font-weight: 700;
			text-transform: uppercase;
			padding: 4px 14px;
			background-color: #38CB89;
			border-radius: 4px;
			margin-top: 8px;
			margin-right: 16px;
			margin-left: 16px;
			color: #fff;
		}
	}
	&__like {
		img:nth-child(2){
			display: none;
		}
		img{
			position: static;
		}
		padding-top: 16px;
		padding-right: 16px;
		@media (min-width: 767px) {
			opacity: 0;
			visibility: hidden;
			transition: all 0.4s ease 0s;
		}
	}
	&__button {
		text-align: center;
		position: relative;
		z-index: 1;
		padding: 8px 24px;
		width: calc(100% - 30px);
		margin: 0 auto;
		transition: all 0.4s ease 0s;
		@include adaptiveValue("margin-bottom", 20, 15);
		@media (min-width: 767px) {
			opacity: 0;
			visibility: hidden;
		}
		@media (max-width: 767px) {
			padding: 4px 24px;
		}
	}
}

.card-arrivals__like._active{
	img:nth-child(2){
		display: block;
	}
	img:nth-child(1){
		display: none;
	}
	opacity: 1;
	visibility: visible;
}

//? description-arrivals =================//

.description-arrivals {
	margin-top: 12px;
	&__star {
		margin-bottom: 5px;
	}
	&__name {
		font-weight: 600;
		line-height: 162%;
	}
	&__price {
		display: flex;
		gap: 12px;
		font-size: 14px;
		line-height: 157%;
		font-weight: 600;
		p:nth-child(2){
			font-weight: 400;
			color: #6C7275;
			text-decoration: line-through;
		}
	}
}

//* advantages ====================================================================================================//

.advantages {
	@include adaptiveValue("padding-bottom", 50, 35);
	&__container {
	}
	&__body {
		display: flex;
		gap: 24px;
		@media (max-width: 992px) {
			gap: 15px;
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		@media (max-width: 400px) {
			gap: 10px;
		}
	}
	&__item {
		flex: 0 1 25%;
		background-color: #F3F5F7;
		padding: 48px 32px;
		@media (max-width: 992px) {
			padding: 35px 20px;
		}
		@media (max-width: 767px) {
			flex: 0 1 calc(50% - 7.5px);
		}
		@media (max-width: 400px) {
			//flex: 0 1 100%;
			padding: 20px 10px;
		}
	}
}
.item-advantages {
	&__icon {
		max-width: 48px;
		padding-bottom: 16px;
	}
	&__label {
		font-family: $pop;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 600;
		line-height: 157%;
		padding-bottom: 8px;
	}
	&__text {
		font-family: $pop;
		color: #6c7275;
		line-height: 140%;
	}
}

//* offer ====================================================================================================//

.offer {
	overflow: hidden;
	@include adaptiveValue("margin-bottom", 90, 40);
	background-color: #F3F5F7;
	@media (min-width: 767px) {
		display: flex;
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__content {
		margin: 0 auto;
		padding: 140px 0px;
		max-width: 480px;
		@media (max-width: 767px) {
			//background-color: #F3F5F7;
			padding-top: 55px;
			@include adaptiveValue("padding-top", 55, 30, 767, 350, 1);
			@include adaptiveValue("padding-bottom", 60, 40, 767, 350, 1);
		}
	}
	&__body {
	}
	&__subtitle {
		color: #377DFF;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 16px;
	}
	&__title {
		font-family: $pop;
		@include adaptiveValue("font-size", 40, 32);
		font-weight: 500;
		line-height: 110%;
		width: 100%;
		max-width: 356px;
		padding-bottom: 16px;
	}
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		line-height: 160%;
		padding-bottom: 24px;
	}
	&__link {
	}
	&__image {
		flex: 0 0 50%;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		@media (max-width: 767px) {
			//padding-bottom: calc(375 / 367 * 100%);
			padding-bottom: 98%;
		}
	}
}

//* articles ====================================================================================================//

.articles {
	@include adaptiveValue("padding-bottom", 80, 40);
	&__container {
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("padding-bottom", 40, 30);
	}
	&__title {
	}
	&__link {
	}
	&__body {
		display: flex;
		gap: 25px;
		@media (max-width: 767px) {
			gap: 10px;
		}
		@media (max-width: 500px) {
			display: block;
		}
	}
	&__item {
		flex: 0 1 33.333%;
		@media (max-width: 500px) {
			margin-bottom: 25px;
		}
	}
}

// item-articles =================//

.item-articles {
	&__image {
		img{
			max-width: 100%;
			@media (max-width: 500px) {
				width: 100%;
			}
		}
		@include adaptiveValue("padding-bottom", 24, 15);
	}
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 500;
		line-height: 120%;
		padding-bottom: 8px;
	}
	&__link {
	}
}

//* newsletter ====================================================================================================//

.newsletter {
	@include adaptiveValue("padding-top", 100, 50);
	padding-bottom: 90px;
	position: relative;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__box {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__container {
	}
	&__title {
		@include adaptiveValue("font-size", 40, 28);
		font-weight: 500;
		font-family: $pop;
		line-height: 110%;
		padding-bottom: 8px;
		text-align: center;
	}
	&__text {
		text-align: center;
		@include adaptiveValue("font-size", 18, 14);
		line-height: 157%;
		@include adaptiveValue("padding-bottom", 44, 32);
	}
	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		max-width: 100%;
		&::after{
			content: '';
			position: absolute;
			bottom: -12px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba(108, 114, 117, 0.50);
		}
		img{
			position: static;
			width: 24px;
			height: 24px;
		}
	}
	&__input {
		background-color: transparent;
		padding: 0 10px;
		color: #000;
		flex: 1 1 auto;
		outline: none;
		width: 300px;
		min-width: 150px;
	}
	&__button {
		font-weight: 500;
		color: #6c7275;
		transition: all 0.3s ease 0s;
		&:hover{
			color: #000;
		}
	}
}

.form__error{
	position: absolute;
	bottom: -35px;
	left: 0;
	color: red;
}