.page {
}

.shop {
	&__crumb {
		padding-left: 15px;
	}
}

//* shop ====================================================================================================//

.shop-main {
	@include adaptiveValue("margin-bottom", 60, 30);
	&__container {
	}
	&__box{
		@include adaptiveValue("padding-top", 125, 110);
		@include adaptiveValue("padding-bottom", 115, 75);
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 767px) {
			margin: 0px -15px;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	&__content {
		position: relative;
		z-index: 1;
		}
		&__title {
			font-family: $pop;
			@include adaptiveValue("font-size", 54, 40);
			font-weight: 500;
			line-height: 110%;
			text-align: center;
			@include adaptiveValue("padding-bottom", 24, 15);
		}
		&__text {
			@include adaptiveValue("font-size", 20, 16);
			line-height: 160%;
			text-align: center;
			color: #121212;
		}
}

//* shop-store ====================================================================================================//

.shop-store {
	@include adaptiveValue("padding-bottom", 100, 60);
}
.store {
		&__filter {
			padding-bottom: 40px;
		}
}

//? filter-store ====================================================================================================//

.filter-store {
		&__container {
		}
		&__body {
			display: flex;
			margin: 0px -15px;
			align-items: center;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
		}
		&__item {
			flex: 0 1 25%;
			padding: 0px 15px;
			@media (max-width: 767px) {
				flex: 0 1 50%;
			}
		}
		&__view {
			flex: 0 1 50%;
			margin-left: auto;
			padding: 0px 15px;
			align-self: flex-end;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
}

.view {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
		&__item {
			padding: 8px 11px;
			border: 1px solid #E8ECEF;
			//transition: all 0.3s ease 0s;
			&:hover{
				background-color: #F3F5F7;
			}
			&._active{
				//background-color: #ebeef1;
				background-color: #38cb89;
			}
		}
}
//  ====================================================================================================//


.select {
	
	&__title{
	}

	&__value{
		padding: 8px 16px;
		outline: 1px solid #6C7275;
		font-weight: 600;
		width: 100%;
		position: relative;
		height: 48px;
		&::after{
			content: '';
			position: absolute;
			right: 21px;
			top: 24px;
			width: 9px;
			height: 2px;
			background-color: #6C7275;
			transform: rotate(45deg);
			transition: all 0.3s ease 0s;
		}
		&::before{
			content: '';
			position: absolute;
			right: 16px;
			top: 24px;
			width: 9px;
			height: 2px;
			background-color: #6C7275;
			transform: rotate(-45deg);
			transition: all 0.3s ease 0s;
		}
	}
	
	&__options{
		border: 1px solid #6C7275;
	}
	
	&__option{
		color: #6C7275;
		&:hover{
			color: #141718;
			background-color: #e6eaee;
		}
	}
	&__content{
		margin-right: 25px;
	}
}

//  =================//

.item-filter {
	&__label {
		font-size: 16px;
		font-weight: 600;
		color: #6C7275;
		padding-bottom: 15px;
		text-transform: uppercase;
	}
	&__select {
		option{
			display: none;
		}
	}
}
.select._select-open .select__value::before{
	transform: rotate(45deg);
}
.select._select-open .select__value::after{
	transform: rotate(-45deg);
}

.select._select-open .select__value{
	border-radius: 8px 8px 0 0;
}

//* goods ====================================================================================================//

.goods{
	.goods__body{
		display: flex;
		flex-wrap: wrap;
		//gap: 24px;
		margin: 0px -12px;
		@media (max-width: 767px) {
			margin: 0px -5px;
		}
	}
	.item-arrivals{
		flex: 0 1 25%;
		padding: 0 12px;
		padding-bottom: 24px;
		@media (max-width: 767px) {
			flex: 0 1 33.333%;
			padding: 0 5px;
			padding-bottom: 15px;
		}
		@media (max-width: 600px) {
			flex: 0 1 50%;
		}
	}
	.card-arrivals__button{
		text-align: center;
		@media (max-width: 600px) {
			padding: 4px 10px;
			width: 100%;
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	.card-arrivals__offer{
		@media (max-width: 600px) {
			font-size: 14px;
			p{
				margin-left: 10px;
			}
		}
	}
	.card-arrivals__like{
		@media (max-width: 600px) {
			padding-right: 0px;
			img{
				width: 40px;
			}
		}
	}
}

//  =================//

.block__more{
	font-weight: 500;
	border-radius: 80px;
	border: 1px solid  #141718;
	padding: 6px 30px;
	display: block;
	margin: 0 auto;
	@include adaptiveValue("margin-top", 60, 30);
	transition: all 0.3s ease 0s;
	&:hover{
		box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6)
	}
}