
//* like-empty ====================================================================================================//

.like-empty{
	width: 20px;
	height: 20px;
	path{
		fill: red;

	}
}

//* star ====================================================================================================//

.star{
height: 16px;
width: 16px;
}